@use 'sass:map';
// 主题色覆盖
$--colors: (
	'primary': (
		'base': #0000ff,
		'hover': #6666ff,
	),
	// 'success': (
	// 	'base': #67c23a,
	// ),
	// 'warning': (
	// 	'base': #e6a23c,
	// ),
	// 'danger': (
	// 	'base': #f56c6c,
	// ),
	// 'info': (
	// 	'base': #909399,
	 // ),
);

// // 字体相关
// $--font-size: (
// 	'extra-large': 20px,
// 	'large': 18px,
// 	'medium': 16px,
// 	'base': 14px,
// 	'small': 13px,
// 	'extra-small': 12px,
// );

// // 边框圆角
// $--border-radius: (
// 	'base': 4px,
// 	'small': 2px,
// 	'round': 20px,
// 	'circle': 100%,
// );

// 其他常用变量
$--border-color: #dcdfe6;
$--background-color: #ffffff;
$--text-color-primary: #303133;
$--text-color-regular: #606266;
$--text-color-secondary: #909399;

// 使变量生效
:root {
	@each $type, $value in $--colors {
		--el-color-#{$type}: #{map.get($value, 'base')};
		// --el-color-#{$type}-hover: #{map.get($value, 'hover')};
		--el-color-primary-light-3: #{map.get($value, 'hover')};
	}

	// @each $size, $value in $--font-size {
	// 	--el-font-size-#{$size}: #{$value};
	// }

	// @each $type, $value in $--border-radius {
	// 	--el-border-radius-#{$type}: #{$value};
	// }

	// --el-border-color: #{$--border-color};
	// --el-bg-color: #{$--background-color};
	// --el-text-color-primary: #{$--text-color-primary};
	// --el-text-color-regular: #{$--text-color-regular};
	// --el-text-color-secondary: #{$--text-color-secondary};
}
